<a href="https://colab.research.google.com/github/notfirsttt/Dasar_Kecerdasan_Artifisial/blob/main/PertemuanMinggu1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Guided 1

In [ ]:
print ("hallo word")

hallo word

Program di atas mencetak teks "hallo word" ke layar menggunakan fungsi print().

##Guided 2

In [ ]:
kalimat = "halo semuanya!"
print(kalimat)

halo semuanya!

Program di atas menyimpan teks "hallo semuanya!" dalam variabel kalimat lalu mencetaknya ke layar menggunakan print().

##Guided 3

In [ ]:
str = "ALF"
first_char = str[0]
last_char = str [-1]
print(first_char, last_char)

A F

Kode ini mengekstrak karakter pertama dan terakhir dari string yang disimpan dalam variabel str, kemudian menampilkannya.

##Guided 4

In [ ]:
list_kata = ["belajar", " kecerdasan", "artifisial"]
print(list_kata)

['belajar', ' kecerdasan', 'artifisial']

Kode ini mendefinisikan sebuah list yang berisi kata-kata dan menampilkannya dalam format list saat dijalankan.

##Guided 5

In [ ]:
even_nums = [x for x in range(10) if x % 2 == 0]
print(even_nums)

[0, 2, 4, 6, 8]

Program di atas membuat list berisi bilangan genap dari 0 hingga 9 menggunakan list comprehension, lalu mencetaknya.

##Guided 6

In [ ]:
my_dict = {
    "nama" : "alfi",
    "umur" : "17",
    "asal" : "bandung",
    "hoby" : "volly"
}
print(my_dict)

#menambah Item baru
my_dict["negara"] = "indonesia"
print("Setelah menambah data negara")
print(my_dict)

#menghapus item
del my_dict["umur"]
print("Setelah menghapus data umur")
print(my_dict)

{'nama': 'alfi', 'umur': '17', 'asal': 'bandung', 'hoby': 'volly'}
Setelah menambah data negara
{'nama': 'alfi', 'umur': '17', 'asal': 'bandung', 'hoby': 'volly', 'negara': 'indonesia'}
Setelah menghapus data umur
{'nama': 'alfi', 'asal': 'bandung', 'hoby': 'volly', 'negara': 'indonesia'}

Program di atas membuat dictionary my_dict untuk menyimpan data identitas, kemudian menambah item baru dengan kunci "negara", menghapus item dengan kunci "umur", dan mencetak hasil perubahan setelah setiap operasi.

##Guided 7

In [ ]:
my_set = set()

#membuat set dengan beberapa elemen
my_set = {1, 2, "manggo", 4, 5.12}
print(my_set)

#menambahkan elemen ke set
my_set.add("banana")
print(my_set)

#menghapus elemen
my_set.remove("manggo")
my_set.remove(5.12)
print(my_set)

{1, 2, 4, 5.12, 'manggo'}
{1, 2, 4, 5.12, 'banana', 'manggo'}
{1, 2, 4, 'banana'}

Kode ini mendemonstrasikan cara kerja set, termasuk penambahan dan penghapusan elemen. Set berguna untuk menyimpan data unik dan melakukan operasi himpunan dengan efisien.

##Guided 8

In [ ]:
is_adaclass = True

if is_adaclass:
  print("Bawa Laptop")
else:
  print("Tidak bawa Laptop")

Bawa Laptop

Kode ini menggunakan pernyataan if-else untuk menentukan output berdasarkan kondisi is_adaclass.

##Guided 9

In [ ]:
umur = input("Masukkan umur kamu: ")
print("Umur kamu adalah", umur)

Masukkan umur kamu: 17
Umur kamu adalah 17

Kode ini membaca input dari pengguna, menyimpannya dalam variabel umur, dan menampilkannya di layar.

##Guided 10

In [ ]:
add = lambda x, y: x + y
print(add(8, 5))

13

Kode ini menggunakan lambda function untuk menjumlahkan dua nilai secara ringkas, menghasilkan output 13.

##Unguded 1

In [ ]:
def isKabisat(tahun):
    return (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)

tahun = 2023
print(isKabisat(tahun))

False

Fungsi isKabisat menggunakan ekspresi logika langsung tanpa if-else. Mengembalikan True atau False sesuai dengan aturan tahun kabisat.

##Unguided 2

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        a, b = b, a + b
    return a

def cetak_fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
    print()

print(fibonacci(7))
cetak_fibonacci(7)

13
0 1 1 2 3 5 8

Fungsi fibonacci menghitung Fibonacci ke-n menggunakan perulangan. Prosedur cetak_fibonacci mencetak bilangan Fibonacci dengan metode iteratif.